<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/CSS/Style.css">
    <link rel="stylesheet" href="../../static/CSS/contactus.css">
    <title>SWASTHYA</title>
</head>

<body>
    {{> navbar}}
    <section id="form" class="contact">
        <section class="location">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448183.73907672917!2d76.81307223784437!3d28.646677258361485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1629890100750!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>
        <section class="contact-us">
            <div class="row">
                <div class="contact-col">
                    <div>
                        <i class="fa fa-home"></i>
                        <span>
                            <h5>XYZ Road,ABC Building</h5>
                            <p>New Delhi,India.</p>
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <span>
                            <h5><a href="tel:+910123456789">+91 0123456789</a></h5>
                            <p>Monday to Saturday,10AM to 6PM</p>
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <span>
                            <h5><a href="mailto:swasthya@swasthya.com">swasthya@swasthya.com</a></h5>
                            <p>Email us your query</p>
                        </span>
                    </div>
                </div>
                <div class="contact-col">
                    <form action="/Contact" method="POST">
                        <input type="text" name="Name" placeholder="Enter Your Name" required>
                        <input type="email" name="Email" placeholder="Enter Your Email Address" required>
                        <input type="text" name="Subject" placeholder="Enter Your Subject" required>
                        <textarea rows="8" name="Message" placeholder="Message" required></textarea>
                        <button type="submit">Submit Message</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="../static/JS/index.js"></script>
</body>

</html>