<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/CSS/Style.css">
    <link rel="stylesheet" href="../../static/CSS/home.css">
    <title>SWASTHYA</title>
</head>
<style>

</style>

<body>
    <div class="main container-fluid">
        <nav>
            <div class="row">
                <div class="container w-50 mt-2">
                    <a href="/">
                        <span class="text-primary">S</span>
                        <span>W</span>
                        <span>A</span>
                        <span>S</span>
                        <span>T</span>
                        <span>H</span>
                        <span>Y</span>
                        <span>A</span>
                    </a>
                </div>
                <div class="container w-50 mt-3">
                    <ul class="d-flex justify-content-evenly">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/facility">Facility</a></li>
                        <li><a href="/reviews">Review</a></li>
                        <li><a href="/Contact">Contact Us</a></li>
                        <li><a href="/User"><i class="fas fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container w-50 title">
            <h1><span class="text-primary">Stay </span>Home,<span class="text-primary"> Stay </span>Safe</h1>
            <h2>Caring for You</h2>
            <a href="/Facility" class="mx-3"><button>Consult Now</button></a>
            <a href="/Products"><button>Buy Products</button></a>
        </div>
    </div>
    <section id="ourDoctors ">
        <div class="container">
            <br>
            <br>
            <h1><span class="text-primary">Our</span> Doctors</h1>
            <hr>
            <br>
            <div class="hero">
                <div class="row">
                    <div class="col mx-1">
                        <div class="profile">
                            <img
                                src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
                            <h2>Dr. Robert</h2>
                            <p>MBBS</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="profile">
                            <img
                                src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
                            <h2>Dr. Shiana</h2>
                            <p>MS</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="profile">
                            <img
                                src="https://images.unsplash.com/photo-1537368910025-700350fe46c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
                            <h2>Dr. Elliot</h2>
                            <p>MD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="WhyChoseUs">
        <div class="container">
            <br>
            <br>
            <h1><span class="text-primary">Why</span> Chose Us</h1>
            <hr>
            <br>
            <div class="tab-content-container">
                <div class="tab-content active show">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ChoseUs">
                                <img src="https://images.unsplash.com/photo-1594824476967-48c8b964273f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                                    class="img-responsive" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
                                    officia perferendis modi impedit, rem quasi veritatis. Consectetur
                                    obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at. Quia,
                                    labore, reprehenderit illum dolorem quae facilis reiciendis quas
                                    similique totam sequi ducimus temporibus ex nemo, omnis perferendis
                                    earum fugit impedit molestias animi vitae.
                                </p>
                                <div class="row">
                                    <div class="services">
                                        <i class="fas fa-check"></i>
                                        <h4>Qualified Facilities</h4>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde maiores
                                            cupiditate a fugit cumque sapiente numquam illum sit assumenda ducimus
                                            culpa, necessitatibus praesentium repellat voluptate esse aspernatur tempore
                                            laboriosam maxime perspiciatis reiciendis.</p>
                                    </div>
                                    <div class="services">
                                        <i class="fas fa-check"></i>
                                        <h4>Top Level Doctors</h4>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde maiores
                                            cupiditate a fugit cumque sapiente numquam illum sit assumenda ducimus
                                            culpa, necessitatibus praesentium repellat voluptate esse aspernatur tempore
                                            laboriosam maxime perspiciatis reiciendis.</p>
                                    </div>
                                    <div class="services">
                                        <i class="fas fa-check"></i>
                                        <h4>Dedicated Patient Care</h4>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde maiores
                                            cupiditate a fugit cumque sapiente numquam illum sit assumenda ducimus
                                            culpa, necessitatibus praesentium repellat voluptate esse aspernatur tempore
                                            laboriosam maxime perspiciatis reiciendis.</p>
                                    </div>
                                    <div class="services">
                                        <i class="fas fa-check"></i>
                                        <h4>24/7 Emergency</h4>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde maiores
                                            cupiditate a fugit cumque sapiente numquam illum sit assumenda ducimus
                                            culpa, necessitatibus praesentium repellat voluptate esse aspernatur tempore
                                            laboriosam maxime perspiciatis reiciendis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="specilities">
        <div class="container">
            <br>
            <h1><span class="text-primary">Our</span> Specialities</h1>
            <hr>
            <br>
            <div class="row">
                <div class="carddd">
                    <h6 class="text-primary">Paediatrics</h6>
                    <img src="https://newassets.apollo247.com/specialties/ic_paediatrics.png" class="my-4" alt="">
                    <p>Specialists to care and treat children</p>
                </div>
                <div class="carddd">
                    <h6 class="text-primary">Psychiatry</h6>
                    <img src="https://newassets.apollo247.com/specialties/ic_psychiatrist.png" class="my-4" alt="">
                    <p>Specialists to help treat mental health</p>
                </div>
                <div class="carddd">
                    <h6 class="text-primary">Dermatology</h6>
                    <img src="https://cdn.askapollo.com/live/assets/images/dermotology.webp" class="my-4" alt="">
                    <p>Specialists for skin and hair treatments</p>
                </div>
                <div class="carddd">
                    <h6 class="text-primary">Cold, Cough and Fever</h6>
                    <img src="https://cdn.askapollo.com/live/assets/images/generalphysician.webp" class="my-4" alt="">
                    <p>For common health concerns</p>
                </div>

            </div>
        </div>
    </section>
    <section id="aboutUs">
        <div class="container">
            <br>
            <br>
            <h1><span class="text-primary">About</span> Us</h1>
            <hr>
            <br>
            <div class="about">
                <h4>Our Mission</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae animi minima error delectus
                    doloremque officia voluptas soluta, minus recusandae architecto pariatur earum natus officiis velit
                    assumenda magnam, porro nemo harum cumque excepturi? Est in consectetur perspiciatis veniam dolorem
                    facere hic id, voluptatibus similique possimus repellendus a reprehenderit at necessitatibus
                    recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, similique tempora
                    eveniet ratione reiciendis tenetur sequi fugit, a facere placeat velit, repellendus nam optio modi
                    nemo recusandae. Voluptate adipisci nesciunt magni veniam est nemo fuga, dolore, officia rerum aut
                    fugiat. Quaerat non quidem nisi, blanditiis dolore animi ullam dicta dolores! </p>
            </div>
            <div class="about">
                <h4>Our Vibe</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae animi minima error delectus
                    doloremque officia voluptas soluta, minus recusandae architecto pariatur earum natus officiis velit
                    assumenda magnam, porro nemo harum cumque excepturi? Est in consectetur perspiciatis veniam dolorem
                    facere hic id, voluptatibus similique possimus repellendus a reprehenderit at necessitatibus
                    recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, similique tempora
                    eveniet ratione reiciendis tenetur sequi fugit, a facere placeat velit, repellendus nam optio modi
                    nemo recusandae. Voluptate adipisci nesciunt magni veniam est nemo fuga, dolore, officia rerum aut
                    fugiat. Quaerat non quidem nisi, blanditiis dolore animi ullam dicta dolores! </p>
            </div>
            <div class="about">
                <h4>Our Promise</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae animi minima error delectus
                    doloremque officia voluptas soluta, minus recusandae architecto pariatur earum natus officiis velit
                    assumenda magnam, porro nemo harum cumque excepturi? Est in consectetur perspiciatis veniam dolorem
                    facere hic id, voluptatibus similique possimus repellendus a reprehenderit at necessitatibus
                    recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, similique tempora
                    eveniet ratione reiciendis tenetur sequi fugit, a facere placeat velit, repellendus nam optio modi
                    nemo recusandae. Voluptate adipisci nesciunt magni veniam est nemo fuga, dolore, officia rerum aut
                    fugiat. Quaerat non quidem nisi, blanditiis dolore animi ullam dicta dolores! </p>
            </div>
            <div class="about">
                <h4>Our Essence</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae animi minima error delectus
                    doloremque officia voluptas soluta, minus recusandae architecto pariatur earum natus officiis velit
                    assumenda magnam, porro nemo harum cumque excepturi? Est in consectetur perspiciatis veniam dolorem
                    facere hic id, voluptatibus similique possimus repellendus a reprehenderit at necessitatibus
                    recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, similique tempora
                    eveniet ratione reiciendis tenetur sequi fugit, a facere placeat velit, repellendus nam optio modi
                    nemo recusandae. Voluptate adipisci nesciunt magni veniam est nemo fuga, dolore, officia rerum aut
                    fugiat. Quaerat non quidem nisi, blanditiis dolore animi ullam dicta dolores! </p>
            </div>
            <div class="about">
                <h4>Our Values</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae animi minima error delectus
                    doloremque officia voluptas soluta, minus recusandae architecto pariatur earum natus officiis velit
                    assumenda magnam, porro nemo harum cumque excepturi? Est in consectetur perspiciatis veniam dolorem
                    facere hic id, voluptatibus similique possimus repellendus a reprehenderit at necessitatibus
                    recusandae!</p>
                <ol>
                    <li>Our Relationship with the People We Serve:</li>
                    
                    <li>Our Approach to Health Care:</li>
                    
                    <li>Our Relationship with the Community:</li>
                    
                    <li>Our Work Environment:</li>
                    
                </ol>
            </div>
        </div>
        <br>
    </section>
    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="../static/JS/index.js"></script>
</body>

</html>