<div class="second container-fluid">
    <nav>
        <div class="row">
            <div class="container w-50 mt-2">
                <a href="/">
                    <span class="text-primary">S</span>
                    <span>W</span>
                    <span>A</span>
                    <span>S</span>
                    <span>T</span>
                    <span>H</span>
                    <span>Y</span>
                    <span>A</span>
                </a>
            </div>
            <div class="container w-50 mt-3">
                <ul class="d-flex justify-content-evenly">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Products">Products</a></li>
                    <li><a href="/Facility">Facility</a></li>
                    <li><a href="/Review">Review</a></li>
                    <li><a href="/Contact">Contact Us</a></li>
                    <li><a href="/User"><i class="fas fa-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>